include README.md
include LICENSE
include CONTRIBUTING.md
include pyproject.toml
recursive-include examples *.py
recursive-exclude examples __pycache__
recursive-exclude examples *.pyc
recursive-exclude examples data
recursive-exclude examples *.png

